{% extends "quotespage/base.html" %}

{% block pagetitle %} | About {% endblock %}

{% block content %}
<h1> About </h1>

<p> The Cornell Department of Computer Science once had a tradition of collecting humorous and amusing quotes from the faculty, graduate students, and guest lecturers, so that they could be published for the entertainment of the community. </p>

<p> Originally quotes were recorded by hand and laboriously compiled into a paper publication, which was last printed in 1985. The arrival of Internet technology enabled the process to be significantly streamlined, and a webpage was established for the purpose of submitting and viewing quotes.</p>

<p> Unfortunately, the original quotes webpage (known as &quot;Upson's Familiar Quotations&quot;) fell into disrepair, and stopped functioning sometime around 2008. The location and access credentials of the server were forgotten, and many great quotes were lost.</p>

<p> This website is an attempt to revive the tradition of collecting quotes by re-creating the online quotes page. It was built in November 2014 by <a href="http://www.cs.cornell.edu/~edward">Edward Tremel</a>, on a new web server provided by the CIS ITSG.</p>

<p> Quotes submitted through this site are subject to moderation before being displayed, both to verify their accuracy and to prevent spam. Nevertheless, the authenticity of quotes cannot be guaranteed. </p>

<p> We will honor all requests to have quotes removed. Remember, this site is meant to be for entertainment purposes, so we hope you won't take offense if you have been quoted saying something funny. </p>

{% endblock %}
