{% extends "quotespage/base.html" %}
{% load bleach_tags %} 
{% load static %}

{% block pagetitle %} | Permanent Link to Quote by {{quote.speaker}} {% endblock %}

{% block javascript %}
<script src="{% static 'quotespage/jquery-1.11.2.min.js' %}"></script>
<script src="{% static 'quotespage/js.cookie.js' %}"></script>
<script src="{% static 'quotespage/ajax-setup.js' %}"></script>
<script src="{% static 'quotespage/voting.js' %}"></script>
{% endblock %}

{% block content %}
<div id="searchbar">
	<form id="searchform" action="{% url 'quotespage:search' %}" method="get">
		{{ search_form }}
		<input type="submit" value="Search"/>
	</form>
</div>
{% block heading %} <h1> Quote </h1> {% endblock %}
<br>
<div class="quotecontainer">
	<span class="voting" data-quoteid="{{ quote.id }}"> Voting: 
		<a href="#" class="downvote">-</a>
		<span class="tally">{{ quote.votes }}</span>
		<a href="#" class="upvote">+</a>
	</span>
	<div> {{ quote.quotation|bleach|linebreaksbr }} </div>
	<span class="speaker"> &mdash; {{ quote.speaker }}</span>{% if quote.context %}, {% endif %}
	<span class="context"> {{ quote.context|bleach }} </span>
	<span class="spacer"> &middot; </span>
	{# Hack to handle quotes without a precise date: If the date is January 1, assume the date is unknown and only display the year. #}
	{%if quote.date.month == 1 and quote.date.day == 1 %}
		<span class="date"> {{ quote.date.year }} </span>
	{% else %}
		<span class="date"> {{ quote.date }} </span>
	{% endif %}
</div>
<div class="clearfloat"></div>
{% endblock %}

